@import "bg/bg.css";
@import "header/header.css";
@import "header/nav/nav.css";
@import "submit/submit.css";
@import "input/input.css";
@import "footer/footer.css";
@import "promo/promo.css";
@import "altnav/altnav.css";
@import "content/content.css";
@import "feedback/feedback.css";
@import "news/news.css";
@import "reviews/reviews.css";
@import "bg/logo.css";
@import "benefits/benefits.css";
@import "facts/facts.css";
@import "benefits/bigben.css";
@import "benefits/smallben.css";
@import "bestteachers/bestteachers.css";
@import "langteasers/langteasers.css";
@import "review/review.css";
@import "nav/nav.css";
@import "langteasers/langteasers.css";
@import "container/container.css";
@font-face {
  font-family: "ubuntu medium";
  src: url("../fonts/Ubuntu-Medium.ttf");
 }

 @font-face {
   font-family: "ubuntu light";
   src: url("../fonts/Ubuntu-Light.ttf");
  }
