.b-feedback{
  background-color: white;
  border-radius: 15px;
  margin-left: 60%;
  margin-right: 10%;
  text-align: center;
}

.b-feedback__input{
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 0;
}

.b-feedback__button{
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 0;
  background: green;
  border-radius: 5px;
}

.b-feedback__text{
  margin-top: 0;
  margin-bottom: 0;
}
