.b-logo1{
  margin-bottom: -23px;
  margin-top: 10px;
  margin-left: 5%;
  width: 128px;
  cursor: pointer;
}

.b-logo2{
  margin-bottom: 55px;
  margin-left: 20px;
  cursor: pointer;
  width: 195px;
}
