.b-header{
  min-width: 980px;
  max-width: 1280px;
  margin: auto;
}

.b-header__phone{
  color: white;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14pt;
  text-align: end;
  margin-top: 70px;
  margin-bottom: -93px;
  width: 150px;
  margin-left: 88%;
}

.b-header__link{
  margin: 0 auto;
  margin-left: 96%;
  margin-bottom: -65px;
  cursor: pointer;
}
