.b-header{
  min-width: 980px;
  max-width: 1280px;
  margin: auto;
}

.b-header__phone{
  color: white;
  text-decoration: underline;
  cursor: pointer;
  font-size: 13pt;
  text-align: end;
  margin-top: 55px;
  margin-bottom: -95px;
  width: 12%;
  margin-left: 88%;
  font-family: ubuntu medium;
}

.b-header__link{
  margin: 0 auto;
  margin-left: 96%;
  margin-bottom: -40px;
  cursor: pointer;
  opacity: 0.75;
}
