.b-header{
  min-width: 980px;
  max-width: 1280px;
  margin: auto;
}

.b-header__phone{
  color: white;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14pt;
  text-align: end;
  margin-top: 70px;
  margin-bottom: -93px;
}
