.b-bigben{
  margin-left: 5%;
}

.b-bigben__header{
  font-size: 27pt;
  font-family: ubuntu light;
  color: #424242;
  margin: 0;
  width: 30%;
  text-align: center;
}

.b-bigben__paragraph{
  margin: 0;
  margin-left: -10px;
  width: 35%;
  font-family: ubuntu light;
  font-size: 14pt;
  color: #424242;
}

.b-bigben__img{
  width: 30%;
}


.b-bigben__altimg{
  margin-left: 7%;
  margin-top: 15px;
  cursor: pointer;
  width: 15%;
}
