.b-bigben{
  margin-left: 84px;
  margin-top: -22px;
}

.b-bigben__header{
  font-size: 25pt;
  font-family: ubuntu light;
  color: #424242;
  margin: 0;
  width: 350px;
  text-align: center;
  margin-left: 33px;
  margin-top: 25px;
  letter-spacing: 1px;
}

.b-bigben__paragraph{
  margin: 0;
  margin-left: -10px;
  width: 35%;
  font-family: ubuntu light;
  font-size: 14pt;
  color: #424242;
}

.b-bigben__img{
  width: 430px;
  cursor: pointer;
}


.b-bigben__altimg{
  margin-left: 115px;
  margin-top: 15px;
  cursor: pointer;
  width: 195px;
}
