.b-smallben1{
  margin-left: 650px;
}

.b-smallben2{
  margin-left: 650px;
}

.b-smallben__header1{
  font-size: 17pt;
  font-family: ubuntu medium;
  color: #424242;
  margin: 0;
  width: 250px;
  margin-left: 260px;
  margin-top: -600px;
  letter-spacing: 1px;
}

.b-smallben__header2{
  font-size: 19pt;
  font-family: ubuntu light;
  color: #424242;
  margin: 0;
  width: 280px;
  margin-left: 259px;
  margin-top: 193px;
}

.b-smallben__paragraph{
  font-size: 15pt;
  font-family: ubuntu light;
  color: #424242;
  margin: 0;
  width: 255px;
  margin-left: 260px;
  margin-top: 17px;
  letter-spacing: -1px;
}

.b-smallben1__img{
  float: left;
  width: 220px;
  margin-top: -25px;
  cursor: pointer;
}

.b-smallben2__img{
  float: left;
  width: 220px;
  margin-top: -50px;
}
