.b-facts{
  margin-left: 78%;
  margin-top: -300px;
}

.b-facts__text1{
  width: 160px;
  margin-top: 0;
}

.b-facts__text2{
  width: 100px;
  margin-top: 0;
}

.b-facts__header1{
  font-size: 55pt;
  font-family: ubuntu;
  width: 150px;
  margin-bottom: 0;
}

.b-facts__header2{
  font-size: 55pt;
  font-family: ubuntu;
  width: 210px;
  margin-bottom: 0;
}
