.b-facts{
  margin-left: 75%;
  margin-top: -300px;
}

.b-facts__text1{
  width: 45%;
  margin-top: 0;
}

.b-facts__text2{
  width: 40%;
  margin-top: 0;
}

.b-facts__header1{
  font-size: 45pt;
  font-family: ubuntu light;
  width: 50%;
  margin-bottom: 0;
}

.b-facts__header2{
  font-size: 45pt;
  font-family: ubuntu light;
  width: 100%;
  margin-bottom: 0;
}
