.b-input{
  margin: auto;
  margin-top: 10px;
  margin-bottom: 80px;
}

.b-input__header{
  width: 180px;
  margin: 0;
  font-size: 14pt;
  font-family: ubuntu medium;
  color: #424242;
  letter-spacing: 1px;
  word-spacing: 4px;
}

.b-input__text{
  height: 40px;
  border-radius: 5px;
  font-size: 12pt;
  width: 185px;
  outline: none;
}

.b-input__text1{
  height: 40px;
  border-radius: 5px;
  font-size: 12pt;
  width: 185px;
  outline: none;
}

.b-input__paragraph--flex{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
