.b-input{
  margin: auto;
  margin-top: 10px;
  margin-bottom: 80px;
}

.b-input__header{
  width: 126px;
  margin: 0;
  font-size: 11pt;
  font-family: ubuntu medium;
  color: #424242;
}

.b-input__text{
  height: 40px;
  border-radius: 5px;
  width: 15%;
  outline: none;
}

.b-input__text1{
  height: 40px;
  border-radius: 5px;
  width: 15%;
  outline: none;
}

.b-input__paragraph--flex{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
