.b-feedback{
  background-color: white;
  border-radius: 15px;
  margin-top: -400px;
  margin-left: 60%;
  margin-right: 10%;
  text-align: center;
  white-space: nowrap;
  height: 380px;
}

.b-feedback__input{
  margin-bottom: 15px;
  height: 35px;
  width: 250px;
  border-radius: 5px;
}

.b-feedback__button{
  margin-top: 25px;
  width: 250px;
  background: #1DB800;
  color: white;
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
  border-width: 0;
}

.b-feedback__text{
  margin: 0;
}

.b-feedback__header{
  padding-top: 15px;
}
