.b-content{
  background-color: white;
  border-radius: 15px;
  margin-left: 2.5%;
  margin-right: 2.5%;

}

.b-content__bestteachers{
  text-align:;
}

.b-content__h1{
  text-align: center;
}

.b-content__sqteasers{

}

.b-content__langteasers{

}
