.b-bestteachers{
  margin-bottom: -160px;
  margin-left: 87px;
  margin-top: -25px;
}

.b-bestteachers__paragraph{
  font-size: 12pt;
  font-family: ubuntu light;
  width: 795px;
  margin-top: 32px;
  letter-spacing: 0px;
  color: #424242;
}

.b-bestteachers__img{
  width: 141px;
  margin: 0 auto;
  margin-right: 28px;
  margin-top: 5px;
  cursor: pointer;
  margin-left: -15px;
}

.b-bestteachers__imgs{
  border-radius: 270px;
  text-align: center;
  width: 116px;
  margin-top: -136px;
  margin-left: 630px;
  height: 118px;
  border: solid 2px;
  border-color: orange;
  cursor: pointer;
}

.b-bestteachers__imgs--text{
  margin-top: 35px;
  font-family: ubuntu light;
  font-size: 13pt;
  color: orange;
  line-height: 25px;
}

.b-bestteachers__header{
  font-family: ubuntu medium;
  font-size: 25pt;
  color: #424242;
  margin-top: 100px;
}
