.b-review{
  width: 740px;
  margin-top: 25px;
}

.b-review__h1{
  margin: 0;
  color: white;
  font-family: ubuntu light;
  font-size: 24pt;
  margin-bottom: 20px;
  margin-top: 50px;
  letter-spacing: 2px;
}

.b-review__rev{
  border: white solid;
  border-radius: 10px;
  border-width: 1px;
  color: white;
  position: relative;
  height: 430px;
  width: 735px;
}

.b-review__b1{
  margin-left: 140px;
  font-family: ubuntu medium;
  font-size: 13pt;
  margin-top: 23px;
}

.b-review__b2{
  font-family: ubuntu medium;
  font-size: 14pt;
  margin-left: 42px;
  letter-spacing: 0.5px;
  margin-top: 45px;
}

.b-review__altb{
  font-family: ubuntu light;
  margin-left: 140px;
  margin-top: -10px;
  font-size: 13pt;
}

.b-review__paragraph{
  margin-left: 42px;
  font-family: ubuntu light;
  font-size: 12pt;
  margin-top: 19px;
  letter-spacing: 0.5px;
  line-height: 25px;
  width: 665px;
}

.b-review__userpic{
  width: 55px;
  cursor: pointer;
  margin-right: 10px;
}

.b-review__userpics{
  margin-left: 275px;
  margin-top: 80px;
}

.b-review__img{
  margin-bottom: -90px;
  width: 75px;
  margin-left: 40px;
}
