.b-input{
  margin: auto;
  margin-top: 10px;
}

.b-input__text{
  height: 30px;
  border-radius: 5px;
}

.b-input__text1{
  height: 30px;
  border-radius: 5px;
}

.b-input__paragraph--flex{
  margin: 0;
  display: flex;
  justify-content: flex-start;
}
