#bg{
      background: white;
      position: absolute;
      background-color: orange;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment:  scroll;
      width: 100%;
      height: 100%;
      left:0;
      top:0;
}
