.b-content{
  background-color: white;
  border-radius: 10px;
  min-width: 980px;
  max-width: 1280px;
  margin: auto;
  height: 1640px;
}

.b-content__h1{
  font-family: ubuntu light;
  font-size: 25pt;
  text-align: center;
  margin: auto;
  margin-bottom: 35px;
  padding-top: 20px;
}

.b-content__sqteasers--flex{
  margin: 0 auto;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-content__sqteaser--flex{
  background-color: white;
  display: flex;
  margin: auto;
  width: 30%;
  height: auto;
}

.b-content__sqteaser--flex:hover{
  transform: scale(1.02);
  transition: all 0.4s linear;
  box-shadow: 0 0 15px orange;
  cursor: pointer;
}

.b-content__langteasers{
  text-align: center;
}

.b-content__address{
  color: orange;
  text-decoration: underline;
  cursor: pointer;
}

.b-content__address:hover{
  text-decoration: none;
}

.b-content__sqteaser:last-child{
  margin-right: 0;
}
