.b-content{
  background-color: white;
  border-radius: 15px;
  min-width: 980px;
  max-width: 1280px;
  margin: auto;

}

.b-content__bestteachers{
  text-align:;
}

.b-content__h1{
  text-align: center;
}

.b-content__sqteasers{

}

.b-content__langteasers{

}
