.b-smallben1{
  margin-left: 560px;
  margin-top: -460px;
  width: 50%;
}

.b-smallben2{
  margin-left: 560px;
  margin-top: 130px;
  width: 50%;
}

.b-smallben__header1{
  font-size: 15pt;
  font-family: ubuntu medium;
  src: url(css/fonts/Ubuntu-Medium.ttf);
  margin: 0;
  width: 180px;
  margin-left: 40%;
  margin-top: 15px;
}

.b-smallben__header2{
  font-size: 15pt;
  font-family: ubuntu medium;
  src: url(css/fonts/Ubuntu-Medium.ttf);
  margin: 0;
  width: 180px;
  margin-left: 40%;
  margin-top: 170px;
}

.b-smallben__paragraph{
  font-size: 12pt;
  font-family: ubuntu light;
  src: url(css/fonts/Ubuntu-Light.ttf);
  margin: 0;
  width: 200px;
  margin-left: 40%;
}

.b-smallben1__img{
  float: left;
  width: 180px;
}

.b-smallben2__img{
  float: left;
  width: 180px;
  margin-top: -40px;
}
